.activeArrow {
    height: 3.5vh;
    width: 3.5vh;
    cursor: pointer;
    transform:rotate(90deg);
}

.description {
  color: blueviolet;
}

.inactiveArrow {
  height: 3vh;
  width: 3vh;
  cursor: pointer;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Monteserrat', sans-serif;
    margin-top: 5vh;
}

.name {
  font-size: 3vh;
  color: #29A2CD;
  font-weight: 600;
}
.titleRow {
  display: flex;
  flex-direction: row;
}