.footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 16vh;
    background-color: #29A2CD;
    position: absolute;
    bottom: 0;
}

.footerText {
    display: flex;
    color: #D9D9D9;
    font-family: 'Merienda One';
    font-size: 3vh;
    font-weight: bold;
    margin-top: .75vh;
    margin-left: 11vw;

}

.footerTextMid {
    display: flex;
    color: #E5A272;
    font-family: 'Merienda One';
    font-size: 3vh;
    font-weight: bold;
    margin-top: .75vh;
    margin-left: 11vw;

}

.chessMeitoIcon {
    max-width: 3.77vw;
    max-height: 7.04vh;
    min-width: 1.89vw;
    min-height: 3.52vh;
    margin-right: 2vw;
    margin-bottom: 1.25vw;
}

.shrimpRepublicIcon {
    max-width: 3.54vw;
    max-height: 6.34vh;
    padding-top: 0.75vh;
    margin-right: 2vw;
}

.shoreCastsIcon {
    max-width: 3.68vw;
    max-height: 5.99vh;
    padding-top: 0.75vh;
    padding-right: 2.25vw;
}

.iconBar {
    display: flex;
    position: absolute;
    right: 0;
    margin-top: 4.5vh;
    margin-right: 18vw;
}