.footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 16vh;
    background-color: #29A2CD;
    position: absolute;
    bottom: 0;
    
}

.footerText {
    display: flex;
    color: #D9D9D9;
    font-family: 'Merienda One';
    font-size: 3vh;
    font-weight: bold;
    margin-top: .75vh;
    margin-left: 11vw;

}
.footerTextMid {
    display: flex;
    color: #E5A272;
    font-family: 'Merienda One';
    font-size: 3vh;
    font-weight: bold;
    margin-top: .75vh;
    margin-left: 11vw;
    
}