.logoContainer {
    display: flex;
    position: absolute;
    margin-top: 1vw;
    margin-left: 65vw;
    z-index: 1;
}

.logoImage {
    max-width: 28vw;
    max-height: 28vh;
    min-width: 3.5vw;
    min-height: 3.5vh;
}