.logoContainer {
    display: flex;
    position: absolute;
    margin-top: 1vw;
    margin-left: 60vw;
    /* justify-content: center;
    align-content: center; */
    z-index: 1;
}

.logoImage {
    max-width: 28vh;
    max-height: 28vh;
    
}