.description {
  font-weight: 400;
  font-size: 2vh;
}

.descriptionLocationColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 20vw;
  max-width: 45vw;
  text-align: left;
}

.headshot {
  height: auto;
  width: 6.5vw;
  border-radius: 10px;
  margin-bottom: 1vh;
  pointer-events: none;
  opacity: 0.85;
}

.imageColumn {
  display: flex;
  flex-direction: column;  
  white-space: nowrap;
  width: 15vw;
  align-items: center;
  justify-content: center;
  margin-right: 1vw;
  margin-left: 3vw;
  font-size: 2.25vh;
}

.location {
  font-size: 2vh;
}

.main {
  color: #29A2CD;
  font-family: 'Monteserrat', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
  padding-bottom: 1vh;
  /* border-bottom: 1vh #29A2CD solid; */
}