.descriptionLocation {
  font-weight: 600;
  font-size: 2vh;
  margin-top: 0.5vh;
  color: #29A2CD;
}


.headshot {
  height: auto;
  width: 15vw;
  border-radius: 10px;
  margin-bottom: 1.25vh;
  pointer-events: none;
  opacity: 0.85;
}

.mainColumn {
  display: flex;
  flex-direction: column;  
  white-space: nowrap;
  width: 20vw;
  align-items: center;
  justify-content: center;
  margin-right: 5vw;
  margin-left: 5vw;
  font-size: 2.75vh;
}

.main {
  font-family: 'Monteserrat', sans-serif;
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
  padding-bottom: 1vh;
  /* border-bottom: 1vh #29A2CD solid; */
}

.name {
  font-weight: 700;
  color: #E5A272;
  -webkit-text-stroke: 1px #29A2CD;
}