.main{
    color: red;
    
   }

.splashTextUpper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 30vh;
    padding-left: 13vw;
}

.exploreBox {
    text-align: left;
    font-family: 'Monsterrat', sans-serif;
    color: black;
}
.exploreText {
    font-size: 4vh;
    font-weight: bold;
}

.splashTextLower {
    margin-top: 2vh;
    color: #0075be;
}

.appText {
    font-family: 'Monsterrat', sans-serif;
    font-size: 1vh;
}



   